header {background-color: blue;}

h1 {font-family: Arial, Helvetica, sans-serif;}

h2 {font-family: Arial, Helvetica, sans-serif;}

nav {font-weight: bold;}

.container {margin: 20px;}

section {line-height: 1.5;}

form{border-style: solid 1px; color: grey; padding: 10px;}

p{color: green;}

button{color: white; background-color: blue;}